<div class="wrapper recipe">

    <div class="container">

        <div class="grid grid-50">

          <div class="grid-item page-title">
              <h1>{{recipe.title}}</h1>
          </div>

          <div class="grid-item">
            <p class="category">{{recipe.category.name}}</p>
            <ul class="tags">
                {{#each recipe.tags as |tag|}}
                    <li>{{tag.name}}</li>
                {{/each}}
            </ul>
          </div>

        </div>

        <div class="grid grid-50">

          <div class="grid-item recipe-image">
            {{#if (eq recipe.isPromoted true)}}
                <span class="is-promoted">Author's Choice</span>
            {{/if}}
              <img src="{{recipe.image.imageFile.url}}" alt="{{recipe.imageFile.url}}">
          </div>

          <div class="grid-item recipe-specs">
            <ul class="grid grid-50">
                <li class="grid-item">
                    {{icon-prep-time}}
                    <p><strong>Preparation Time:</strong> {{recipe.preparationTime}} minutes</p>
                </li>
                <li class="grid-item">
                    {{icon-cook-time}}
                    <p><strong>Cooking Time:</strong> {{recipe.totalTime}} minutes</p>
                </li>
                <li class="grid-item">
                    {{icon-serves}}
                    <p><strong>Serves:</strong> {{recipe.numberOfServices}}</p>
                </li>
                <li class="grid-item">
                    {{icon-difficulty}}
                    <p><strong>Difficulty:</strong> {{recipe.difficulty}}</p>
                </li>
            </ul>

            <div class="grid grid-100">
                <p>{{recipe.texts}}</p>
            </div>

          </div>

        </div>

        <div class="grid grid-100">
            <div class="grid-item">
                <h2>What you'll need and how to make this dish (let's get rid of this headline)</h2>
            </div>
        </div>

        <div class="grid grid-50">

          <div class="grid-item">
            <h3>Ingredients</h3>
                <ul>
                  {{#each recipe.ingredients key="@index" as |ingredient|}}
                    <li>{{ingredient}}</li>
                  {{/each}}
                </ul>
          </div>

          <div class="grid-item">
            <h3>Instructions</h3>
            <p>I{{recipe.instructions}}</p>
          </div>

        </div>

        <div class="grid grid-100">

          <div class="grid-item">

            <h3>Reviews:</h3>
                <ul>
                  {{#each recipe.reviews as |review|}}
                    <li><b>{{review.subject}}</b>
                    <p>{{review.body}}</p>
                    </li>
                  {{/each}}
                </ul>

          </div>
        </div>

    </div>




    <div class="container">
        <h2>More {{ recipe.category.name }} recipes</h2>

        {{#list-filter filter=(action 'filterByCategory' recipe.category.name) as |recipeList|}}

          <ul class="grid grid-25">
            {{#each recipeList as |recipe|}}
              {{ catgeory.name }}
              <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
            {{/each}}
          </ul>

        {{/list-filter}}

    </div>


      <div class="container">
        <h2>Latest recipes</h2>

      {{#list-filter filter=(action 'latestRecipes') as |recipeList|}}
          <ul class="grid grid-25">
              {{#each recipeList as |recipe|}}
                  <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
              {{/each}}
          </ul>
      {{/list-filter}}

    </div>

</div>

{{ theme-listing }}


{{outlet}}