<div class="jumbo show-listing">
    <h2 class="title">{{model.title}}</h2>
    <div class="right detail-section">

    <img src="{{model.image}}" class="rental-pic">
        </div>


    <div class="detail ingredients">
        <span>Ingredients:</span> {{model.ingredients}}
    </div>
    <div class="detail category">
        <span>Category:</span> {{model.category}}
    </div>
    <div class="detail instruction">
        <span>Difficulty:</span> {{model.difficulty}}
    </div>
    <div class="detail image">
        <span>Image:</span> {{model.image}} <img src="{{model.image}}" alt="">
    </div>
    <div class="detail services">
        <span>Number of Services:</span> {{model.number_of_services}}
    </div>
    <div class="detail preparation time">
        <span>Preparation Time:</span> {{model.preparationTime}}
    </div>

    <div class="detail instruction">
        <span>Recipe Instructions:</span> {{model.instructions}}
    </div>
    <div class="detail preparation time">
        <span>Total Time:</span> {{model.totalTime}}
    </div>







</div>
