{{#unless (or isFreestyleRoute isLoginRoute) }}
    {{ shelf-area }}
{{/unless}}

{{#if (or isFreestyleRoute isLoginRoute)}}
        {{ header-reduced }}
    {{else}}
        {{ header-area }}
{{/if}}

{{#if (or isFeaturesRoute isRecipesRoute) }}
    {{ banner-area }}
{{/if}}

{{!-- the content area displays here for the front page only --}}
{{#if isIndexRoute}}
    <div class="body">
        {{outlet}}
    </div>

    {{ highlight-area }}

{{!-- {{I would really prefer this as a component (see theme-listing.hbs) but I'm not sure how to get the data in the component}} --}}
    <div class="wrapper themes">
       <div class="container">
          <ul class="grid grid-25">
              <li class="grid-item">
                  <div class="block">
                      <h2>Dinners to impress</h2>
                      {{#list-filter filter=(action 'getThemeOne' ) as |recipeList|}}
                              {{#each recipeList as |recipe|}}
                                  {{theme-listing/theme-listing recipe=recipe}}
                              {{/each}}
                      {{/list-filter}}
                  </div>
              </li>
              <li class="grid-item">
                  <div class="block">
                      <h2>Learn to cook</h2>
                      {{#list-filter filter=(action 'getThemeTwo' ) as |recipeList|}}
                              {{#each recipeList as |recipe|}}
                                  {{theme-listing/theme-listing recipe=recipe}}
                              {{/each}}
                      {{/list-filter}}
                  </div>
              </li>
              <li class="grid-item">
                  <div class="block">
                      <h2>Baked up</h2>
                      {{#list-filter filter=(action 'getThemeThree' ) as |recipeList|}}
                              {{#each recipeList as |recipe|}}
                                  {{theme-listing/theme-listing recipe=recipe}}
                              {{/each}}
                      {{/list-filter}}
                  </div>
              </li>
              <li class="grid-item">
                  <div class="block">
                      <h2>Quick and easy</h2>
                      {{#list-filter filter=(action 'getThemeFour' ) as |recipeList|}}
                              {{#each recipeList as |recipe|}}
                                 {{theme-listing/theme-listing recipe=recipe}}
                              {{/each}}
                      {{/list-filter}}
                  </div>
              </li>
          </ul>

           <h2>Dinners to Impress</h2>
           {{#list-filter filter=(action 'getThemeOne' ) as |recipeList|}}
               <ul class="grid grid-25">
                   {{#each recipeList as |recipe|}}
                       <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
                   {{/each}}
               </ul>
           {{/list-filter}}


           <h2>Learn to Cook</h2>
           {{#list-filter filter=(action 'getThemeTwo' ) as |recipeList|}}
               <ul class="grid grid-25">
                   {{#each recipeList as |recipe|}}
                       <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
                   {{/each}}
               </ul>
           {{/list-filter}}


           <h2>Baked Up</h2>
           {{#list-filter filter=(action 'getThemeThree' ) as |recipeList|}}
               <ul class="grid grid-25">
                   {{#each recipeList as |recipe|}}
                       <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
                   {{/each}}
               </ul>
           {{/list-filter}}


           <h2>Quick and Easy</h2>
           {{#list-filter filter=(action 'getThemeFour' ) as |recipeList|}}
               <ul class="grid grid-25">
                   {{#each recipeList as |recipe|}}
                       <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
                   {{/each}}
               </ul>
           {{/list-filter}}

      </div>
    </div>
{{/if}}



{{!-- {{this is where the content area displays for all other pages}} --}}
{{#unless isIndexRoute}}
    <div class="body">
        {{outlet}}
    </div>
{{/unless}}



{{#if isIndexRoute}}
{{!-- {{I would really prefer this as a component (see feature-recipes.hbs) but I'm not sure how to get the data in the component}} --}}
<div class="wrapper full features">
  <div class="container">

    <h2>Recipes</h2>
    <h3>with some text</h3>
    {{#promoted-filter filter=(action 'featureRecipes')as |promotedList|}}
        <ul class="grid grid-50">
            {{#each promotedList as |recipe|}}
                <li class="grid-item card">{{recipe-listing/recipe-listing recipe=recipe}}</li>
            {{/each}}
        </ul>
    {{/promoted-filter}}

  </div>
</div>
{{/if}}


<footer>

    {{!-- {{I would really prefer this as a component too but I'm not sure how to get the data in the component}} --}}
    {{#if (or isRecipesRoute isRecipeRoute)}}
    <div class="collections">
            <div class="container">
                <h3>Recipe collections</h3>

                {{#promoted-filter filter=(action 'recipeTags')as |tagList|}}
                        <ul class="grid grid-25">
                            {{#each tagList as |tag|}}
                                <li class="grid-item">
                                    {{#link-to 'tags.tag' tag.id}}
                                        {{tag.name}}
                                    {{/link-to}}
                                </li>
                            {{/each}}
                        </ul>
                {{/promoted-filter}}
            </div>
        </div>
    {{/if}}


    {{#if (or isFeaturesRoute isFeatureRoute isContactRoute)}}
        {{ highlight-area }}
    {{/if}}


    {{#unless (or isFreestyleRoute isLoginRoute)}}
    <div class="subscribe">
        <div class="container">
            <div class="grid grid-33 grid-double">
                <div class="grid-item">
                    <h3>Umami magazine</h3>
                    <p>Blurb to sign up to newsletter</p>
                </div>
                <div class="grid-item">
                    <h4>Get in touch about the Drupal Umami theme</h4>
                </div>
            </div>
        </div>
    </div>
    {{/unless}}

    {{footer-area}}

</footer>