{{ shelf-area }}

{{ header-area }}

{{#if (not-eq currentRouteName 'index')}}
    {{ banner-area }}
{{/if}}

{{!-- {{this is an awkward way to control where the content area displays for the front page only}} --}}
{{#if (eq currentRouteName 'index')}}
    <div class="container">
        <div class="body">
            {{outlet}}
        </div>
    </div>
{{/if}}

{{#if (eq currentRouteName 'index') }}
    {{ highlight-area }}
    {{ theme-listing }}
{{/if}}


{{!-- {{this is where the content area displays for all other pages}} --}}
{{#if (not-eq currentRouteName 'index')}}
    <div class="container">
        <div class="body">
            {{outlet}}
        </div>
    </div>
{{/if}}

{{ featured-recipes }}

<footer>


{{#if (not-eq currentRouteName 'index')}}
    <div class="collections">
        <div class="container">
            <h3>Recipe collections</h3>

            <ul>
                {{#each categories as |category|}}
                    <li>{{category.name}}</li>
                {{/each}}

                <li>Breads</li>
                <li>Catalan</li>
                <li>Fish</li>
                <li>French</li>
                <li>Healthy</li>
                <li>Italian</li>
                <li>Japanese</li>
                <li>Low carb</li>
                <li>Meat</li>
                <li>Nut-free</li>
                <li>Pastry</li>
                <li>Vegan</li>
                <li>Vegetarian</li>
            </ul>
        </div>
    </div>
{{/if}}


    <div class="subscribe">
        <div class="container">
            <div class="block">
                <h3>Umami magazine</h3>
                <p>Blurb to sign up to newsletter</p>
            </div>
            <div class="block">
                <h4>Get in touch about the Drupal Umami theme</h4>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="block">
                <p>Umami Magazine & Umami Publications is a fictional magazine and publisher for illustrative purposes only</p>
            </div>
            <div class="block">
                <p>2017 Terms & Conditions</p>
            </div>
        </div>
    </div>

</footer>
